.btn {
  border: 0 !important;
  text-align: center !important;
  margin-top: 2rem !important;
  background: #1da1f2 !important;
  background-image: -webkit-linear-gradient(top, #1da1f2, #1da1f2) !important;
  background-image: -moz-linear-gradient(top, #1da1f2, #1da1f2) !important;
  background-image: -ms-linear-gradient(top, #1da1f2, #1da1f2) !important;
  background-image: -o-linear-gradient(top, #1da1f2, #1da1f2) !important;
  background-image: linear-gradient(to bottom, #1da1f2, #1da1f2) !important;
  -webkit-border-radius: 26 !important;
  -moz-border-radius: 26 !important;
  border-radius: 26px !important;
  /* text-shadow: 1px 1px 3px #666666; */
  font-family: Arial !important;
  color: #ffffff !important;
  font-size: 20px !important;

  padding: 5px 60px 5px 60px !important;
  text-decoration: none !important;
  font-weight: 520 !important;
  text-transform: capitalize !important;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db) !important;
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db) !important;
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db) !important;
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db) !important;
  text-decoration: none !important;
}
